<div class="app flex-row align-items-center" style="background-color: beige">
  <div class="container">
    <form [formGroup]="rForm">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body" style="text-align: center">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your Account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-user"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" formControlName="email" placeholder="Email">
                </div>
                <div class="alert" *ngIf="!rForm.controls['email'].valid&&rForm.controls['email'].touched">
                    <i class="fa fa-close"></i>
                    <span *ngIf="rForm.controls['email'].errors['required']">Email Not Valid</span>                    
                  </div>

                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control" formControlName="password" placeholder="Password">
                </div>
                <div class="alerte" *ngIf="!rForm.controls['password'].valid&&rForm.controls['password'].touched">
                  <i class="fa fa-close"></i>
                  <span *ngIf="rForm.controls['password'].errors['required']">Filed is required</span>
                  <span *ngIf="rForm.controls['password'].errors['minlength']">at least 6 chars</span>
                </div>
                <div class="row">
                  <div class="col-3"></div>
                  <div class="col-6">
                    <button pButton type="submit" label="Sign in" [disabled]="!rForm.valid" class="btn btn-block btn-primary px-4"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>