<html> 
<head>
    <meta charset="utf-8"/>
</head>
 
<body>
    <p>Dear ${firstName} ${lastName},</p>
    <p>${content}</b></p>
    <p>Thanks</p>
    <p>${signature}</p>
    <p>${location}</p>
</body>
 
</html>