<div class="container">
    <form [formGroup]="rForm" #userForm="ngForm" (ngSubmit)="create_user(rForm.value,userForm)">
        <p-panel header="Add New User">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"></div>
                    <div class="ui-grid-col-8 ui-inputgroup">
                        <span class="ui-inputgroup-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input pInputText size="30" id="float-input" type="text" formControlName="firstName" placeholder="FirstName" />
                    </div>
                    <div class="ui-grid-col-2 ">
                        <div class="alert" *ngIf="!rForm.controls['firstName'].valid&&rForm.controls['firstName'].touched">
                            <i class="fa fa-close"></i>
                            Filed is required
                        </div>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"></div>
                    <div class="ui-grid-col-8 ui-inputgroup">
                        <span class="ui-inputgroup-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input pInputText type="text" formControlName="lastName" placeholder="LastName" />
                    </div>
                    <div class="ui-grid-col-2">
                        <div  class="alert" *ngIf="!rForm.controls['lastName'].valid&&rForm.controls['lastName'].touched">
                            <i class="fa fa-close"></i>
                            Filed is required
                        </div>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"></div>
                    <div class="ui-grid-col-8 ui-inputgroup">
                        <span class="ui-inputgroup-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input pInputText type="email" formControlName="email" placeholder="email" />
                    </div>
                    <div class="ui-grid-col-2 ">
                        <div  class="alert" *ngIf="!rForm.controls['email'].valid&&rForm.controls['email'].touched">
                            <i class="fa fa-close"></i>                            
                            <span *ngIf="rForm.controls['email'].errors['email']">Email not valid</span>
                        </div>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"></div>
                    <div class="ui-grid-col-8 ui-inputgroup">
                        <span class="ui-inputgroup-addon">
                            <i class="fa fa-lock"></i>
                        </span>
                        <input pInputText type="password" formControlName="password" placeholder="Password" />
                    </div>
                    <div class="ui-grid-col-2">
                        <div  class="alert" *ngIf="!rForm.controls['password'].valid&&rForm.controls['password'].touched">
                            <i class="fa fa-close"></i>
                            <span *ngIf="rForm.controls['password'].errors['required']">Filed is required</span>
                            <span *ngIf="rForm.controls['password'].errors['minlength']">at least 6 chars</span>
                        </div>
                    </div>
                </div>

                <!-- AutoCompleate -->
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"></div>
                    <div class="ui-grid-col-8">
                        <span class="ui-fluid">
                            <p-autoComplete formControlName="roles" [suggestions]="filteredRolesMultiple" (completeMethod)="filterRoleMultiple($event)"
                                styleClass="wid100" [minLength]="1" placeholder="Choise some roles" field="name" [multiple]="true">
                            </p-autoComplete>
                        </span>
                    </div>
                    <div class="ui-grid-col-2">
                        <div  class="alert" *ngIf="!rForm.controls['roles'].valid&&rForm.controls['roles'].touched">
                            <i class="fa fa-close"></i>
                            <span *ngIf="rForm.controls['roles'].errors['required']">At least 1 role</span>
                        </div>
                    </div>
                </div>


                <!-- Profile photo -->
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"></div>
                    <div class="ui-grid-col-8">
                        <p-fileUpload  mode="basic" name="file" accept="image/*" maxFileSize="1000000" (onUpload)="onSelect($event)"
                            chooseLabel="choose a photo">
                        </p-fileUpload>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-3"></div>
                    <div class="ui-grid-col-6">
                        <button pButton type="submit" label="Submit" [disabled]="!rForm.valid"></button>
                    </div>
                    <div class="ui-grid-col-3"></div>
                </div>
            </div>
        </p-panel>
    </form>
</div>