.container{
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    font-size: 16px
}
.alert{
    padding: 2px;
    background: #ffcbc8;
    font-size: 12px;
    animation: alertAnim 2s forwards;
}

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateX(-20px);
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
}