.navbar{
  border-top: 10px solid #156090;
}
h1 small{
  font-size: 0.5em
}
.template{
 font-family: varela round,sans-serif;
 padding: 60px; 
 font-size: 1.2em
}
.ui-button-success{
  color: #fff;
  background-color: #156090;
  border-color: #156090
}
.ui-button-success:hover{
  background-color: #156090;
}
.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button {
  color: #fff;
  background-color: #156090;
  border-color: #156090
}