<nav class="navbar navbar-expand-sm" style="background-color: #34302d; padding-left: 60px ">
    <a class="navbar-brand" href="#" style="font-weight: bold;color: white;font-family: varela round,sans-serif">
        <h1>
            <b>WEBOPS</b>
            <small> &nbsp;bootstrap your app now</small>
        </h1>
    </a>
    <!-- #4caf50 -->
</nav>
<section class="template">
    <form [formGroup]="rForm" #generatorForm="ngForm" (ngSubmit)="onSubmit(rForm.value, generatorForm)">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2>Project Metadata</h2>
                <p>
                    <small>Artifact coordinates</small>
                </p>
                <div class="form-group">
                    <label for="group">
                        <b>Group</b>
                    </label>
                    <br>
                    <input id="group" type="text" class="form-control" pInputText placeholder="com.example" formControlName="groupId" (change)="onChangeGroup($event.target.value)">
                </div>
                <div class="form-group">
                    <label for="artifact">
                        <b>Artifact</b>
                    </label>
                    <br>
                    <input id="artifact" type="text" class="form-control" pInputText placeholder="demo" formControlName="artifactId" (change)="onChangeArtifact($event.target.value)">
                </div>
                <div class="form-group">
                    <label for="package">
                        <b>Package</b>
                    </label>
                    <br>
                    <input id="package" type="text" class="form-control" pInputText placeholder="com.example.demo" formControlName="packageName">
                </div>

            </div>
            <div class="col-sm-12 col-md-6">
                <h2>Dependencies</h2>
                <p><small> Add Spring Boot Starters and dependencies to your application</small></p>
                <div class="form-group ui-fluid">
                    <label for="group">
                        <b> Search for dependencies </b>
                    </label>
                    <p-autoComplete formControlName="dependencies" [suggestions]="filterDependenciesMultiple" (completeMethod)="filterDependencyMultiple($event)"
                        styleClass="wid100" [minLength]="1" placeholder="Web, JPA, Devtools..." field="name" [multiple]="true">
                    </p-autoComplete>
                </div>

                <div class="form-group">
                    <label for="repo">
                        <b>Git Repository</b>
                    </label>
                    <br>
                    <input id="repo" type="url" class="form-control" pInputText placeholder="your remote repository..." formControlName="repo">
                </div>

                <div class="form-group row" *ngIf="rForm.controls['repo'].valid">
                    <div class="col-6">
                        <label for="username">
                            <b>Username</b>
                        </label>
                        <br>
                        <input id="username" type="text" class="form-control"  pInputText placeholder="Username" formControlName="username">
                    </div>
                    <div class="col-6">
                        <label for="password">
                            <b>Password</b>
                        </label>
                        <br>
                        <input id="password" type="password" class="form-control"  pInputText placeholder="Password" formControlName="password">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <button pButton type="submit" [disabled]="!rForm.valid" class="btn btn-lg btn-block" label="Generate Project"></button>
            </div>
        </div>
    </form>
</section>