<div class="container" style="width: 100%;margin: auto;padding-top: 100px">
    <!-- DATATABLE OF USERS  -->
    <p-table #dt [globalFilterFields]="cols" [value]="userList" selectionMode="single" [lazy]="true" (onLazyLoad)="loadusers($event)"
        [(selection)]="selectedUser" (onRowSelect)="onRowSelect($event)" [paginator]="true"
        [rows]="size" [totalRecords]="totalElements" [loading]="loading">

        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    style="width:auto">
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr style="text-align: center">
                <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                    {{col.header}}
                    <span *ngIf="col.field!=STATUS">
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </span>

                </th>
            </tr>
            <tr>
                <th *ngFor="let col of cols" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'firstName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <input *ngSwitchCase="'lastName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <input *ngSwitchCase="'email'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                    <div *ngSwitchCase="'createDate'" style="text-align: center">                
                        {{yearFilter}}
                        <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="2016" [max]="2018" animate="true"   ></p-slider>                        
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
            <tr [pSelectableRow]="user">
                <td *ngFor="let col of cols">
                    {{user[col.field]}}
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary" let-user>
            <div style="text-align:center; padding: 10px">
                <a routerLink="/users/register">
                    <button type="button" pButton icon="fa-plus" style="background-color:#de5233" label="Add"></button>
                </a>
                <button type="button" pButton [disabled]="dysplayButton" icon="fa-close" style="background-color:#de5233" (click)="deleteSelectedUser()"
                    label="Delete"></button>
                <button *ngIf="selectedUser.active==false; else deactivate" type="button" pButton [disabled]="dysplayButton" icon="fa-refresh" style="background-color:#de5233" (click)="toggleActivateUser()"
                    label="Activate"></button>

                <ng-template #deactivate >
                    <button type="button" pButton [disabled]="dysplayButton" icon="fa-refresh" style="background-color:#de5233" (click)="toggleActivateUser()"
                        label="Deactivate"></button>
                </ng-template>

            </div>
        </ng-template>
    </p-table>
</div>